Repository silverstripe/cwp, pull requests merged in 2018-02, with the labels that each got.

#43 DOCS Update 2.0 changelog and documentation for security relating to cwp/cwp-core#23
  docs/en/01_Working_with_projects/10_Security.md
  docs/en/02_Features/active_directory_single_sign_on.md
  docs/en/03_How_tos/basic_auth.md
  docs/en/04_Performance_Guide/02_HTTP_Caching.md
  docs/en/05_Releases_and_changelogs/cwp_recipe_basic_2.0.0.md
Labels: affects/v4, type/docs

#46 FIX swap GridField re-ordering component
  composer.json
  src/PageTypes/BaseHomePage.php
  src/PageTypes/BasePage.php
Labels: affects/v4, change/minor, effort/easy, impact/low, type/enhancement

#47 Update documentation that refers to installing 2.0.0. as an arbitrary example
  docs/en/01_Working_with_projects/08_Upgrading.md
Labels: affects/v3, type/docs

#48 DOCS Review docs in context of CWP 2.0
  docs/en/01_Working_with_projects/00_Setting_up_a_development_environment.md
  docs/en/01_Working_with_projects/01_Setting_up_your_project.md
  docs/en/01_Working_with_projects/02_Maintaining_your_code.md
  docs/en/01_Working_with_projects/03_Recipes_and_supported_modules.md
  docs/en/01_Working_with_projects/04_Customising_the_default_functionality.md
  docs/en/01_Working_with_projects/05_Customising_the_starter_theme.md
  docs/en/01_Working_with_projects/06_Working_with_modules.md
  docs/en/01_Working_with_projects/08_Upgrading.md
  docs/en/01_Working_with_projects/11_Infrastructural_considerations.md
Labels: affects/v4, type/docs
