Repository silverstripe/cwp, pull requests merged in 2018-05, with the labels that each got.

#80 FIX Set default_locale to en_NZ, and allow errors to be returned as 200 OK
  _config/spellcheck.yml
Labels: affects/v4, change/patch

#81 DOCS Add note about security patches in latest recipe, others on demand
  docs/en/01_Working_with_projects/02_Maintaining_your_code.md
Labels: affects/v4, type/docs

#83 Fix broken links
  docs/en/01_Working_with_projects.md/04_Customising_the_default_functionality.md
  docs/en/01_Working_with_projects.md/10_Security.md
  docs/en/02_Features.md/00_Pre_configuration.md
  docs/en/02_Features.md/blog_recipe.md
  docs/en/02_Features.md/pdf_export.md
  docs/en/03_How_tos/creating_repositories.md
  docs/en/03_How_tos/using_content_migration_tools.md
Labels: affects/v3, affects/v4, change/patch, type/docs

#85 Update version label on site summary report for CWP
  _config/config.yml
  code/extensions/CwpSiteSummaryExtension.php
Labels: affects/v3, change/minor

#86 Update Watea theme md for consistency
  docs/en/01_Working_with_projects/14_Using_the_Watea_theme.md
Labels: affects/v4, type/docs

#87 Adding extension for relabelling filter options on report
  code/extensions/CwpSiteSummaryExtension.php
Labels: affects/v3, change/minor

#89 DOCS Update example composer.json requirements to use stable constraints
  docs/en/05_Releases_and_changelogs/cwp_recipe_basic_2.0.0.md
Labels: affects/v4, type/docs

#88 DOCS Update support timelines for CWP 1.8.1 and CWP 1.8.2
  docs/en/05_Releases_and_changelogs/index.md
Labels: feedback-required/core-team, impact/medium, type/docs
