Repository silverstripe/cwp, pull requests merged in 2018-07, with the labels that each got.

#134 DOCS Bring CWP FTS docs inline with new official FTS docs
  docs/en/02_Features/01_Solr_search/00_Configuration.md
  docs/en/02_Features/01_Solr_search/01_Running_solr_locally.md
  docs/en/02_Features/01_Solr_search/03_Basic_usage.md
  docs/en/02_Features/01_Solr_search/04_Default_search_index.md
  docs/en/02_Features/01_Solr_search/05_Searching_dataobjects.md
  docs/en/02_Features/01_Solr_search/06_Tuning_the_search_results.md
Labels: affects/v4, type/docs

#136 DOCS Clearer references to main module docs
  docs/en/02_Features/01_Solr_search/03_Basic_usage.md
  docs/en/02_Features/01_Solr_search/04_Default_search_index.md
  docs/en/02_Features/01_Solr_search/06_Tuning_the_search_results.md
  docs/en/02_Features/01_Solr_search/index.md
Labels: affects/v4, type/docs

#140 Link to PHP section (non-docs)
  docs/en/04_Performance_Guide/index.md
Labels: type/docs

#93 NEW Update RelatedPages feature for ManyManyThrough
  .travis.yml
  composer.json
  src/Model/RelatedPageLink.php
  src/PageTypes/BasePage.php
Labels: affects/v4, change/minor, effort/medium, impact/high, type/bug
