Repository silverstripe/cwp, pull requests merged in 2019-07, with the labels that each got.

#216 DOC add changelogs for 2.3.1
  docs/en/05_Releases_and_changelogs/cwp_2.3.1.md
Labels: affects/v4, type/docs

#224 FIX Permissions to create Quicklinks are now resolved to the parent page edit permissions
  src/Model/Quicklink.php
Labels: affects/v4, change/patch

#226 DOCS Include 2.3.2 in the index page of the releases doc
  docs/en/05_Releases_and_changelogs/index.md
Labels: affects/v4, type/docs

#223 DOCS HTTP Strict Transport Security
  docs/en/01_Working_with_projects/10_Security.md
  docs/en/05_Releases_and_changelogs/cwp_2.4.0.md
Labels: affects/v4, type/docs

#227 NEW NewsPage now has a getNewsPageAuthor() accessor for its conflicted Author property
  src/PageTypes/NewsPage.php
  tests/PageTypes/NewsPageTest.php
Labels: affects/v4, change/minor
